    <!doctype html>
<html lang="{{ site_short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }} — {{ settings:site_name }}</title>
        <meta name="description" content="{{ excerpt ?? title }}">
        <meta name="theme-color" content="00908F">
        <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
        <script src="{{ mix src='/js/site.js' }}"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176879292-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-176879292-1');
        </script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
    </head>
    <body class="bg-white font-sans leading-normal text-grey-800 px-4 sm:px-10" x-data="{ showMobileNav: false }">
        {{ partial:nav }}
        {{ template_content }}
        {{ partial:footer }}
        <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
        <script>
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#feebc8",
                        "text": "#2d3748"
                    },
                    "button": {
                        "background": "#ed8936",
                        "text": "#2d3748"
                    }
                },
                "theme": "classic",
                "content": {
                    "message": "This website uses Google Analytics so I can see if anyone ever looks at this space :)"
                }
            });
        </script>
    </body>
</html>
